<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="theme-color" content="#3F51B5">
  <meta name="mobile-web-app-capable" content="yes"> 
  <!-- <meta HTTP-EQUIV="Pragma" CONTENT="no-cache"> -->
  <!-- <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> -->
  <!-- <meta HTTP-EQUIV="Expires" CONTENT="0"> -->
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mdui/0.3.0/css/mdui.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/mdui/0.3.0/js/mdui.min.js"></script>
</head>
{% block Dydata %}<div id="num" name="{{ num }}"></div>{% endblock %}
<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">
  <div id="spinner" class="mdui-spinner mdui-spinner-colorful"></div>
  {% block content %}{% endblock %}
  <button class="mdui-fab mdui-color-theme-accent mdui-ripple mdui-fab-fixed" id="back_top">
    <i class="mdui-icon material-icons">vertical_align_top</i>
  </button>

  {% block scripts %}<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script>
  var num = parseInt($("#num").attr("name"))
  $(function(){
    $("#spinner").hide();
    $("#main_content").fadeIn();
    $('#back_top').click(
        function () {
        $("body").animate({ scrollTop: 0 }, 500);
    });
    $("#last").click(
        function(){
            order = parseInt($("#last").attr("name"));
            if ((order > 0) && (order < num))
            {
                load(order);
            }
    })
    $("#next").click(
        function(){
            order = parseInt($("#next").attr("name"));
            if ((order > 0) && (order < num))
            {
                load(order);
            }
    })
    for (var i = 0; i < parseInt($("#num").attr("name")); i++)
    {
        $("#card_" + i.toString()).click(
            function(){
                load(parseInt($(this).attr("name")));
            })
        $("#card_" + i.toString()).dblclick(
            function(){
                load(parseInt($(this).attr("name")));
            })
    }
  })
var track = new Array([-1]);

function go(URL)
{
    $.get(URL, function(data){
            $("#interface").fadeOut();
            $("#interface").html(data);
            $("#interface").fadeIn("slow");
        })
}

function load(order)
{   
    if (order < 0)
    {
        track = [-1];
        go("/");
    }
    else
    {
        track.push(order);
        go("/articles/" + order.toString());
    }
}
function refresh()
{
    track = [-1];
    window.location.reload();
}
function zoom()
{
}
  </script>{% endblock %}
</body>
</html>