{% extends "base.html" %}
{% block head %}朝日新聞{% endblock %}
{% block content %}<div id="interface"> 
  <div id="navbar" class="mdui-appbar mdui-appbar-fixed">
  <div class="mdui-toolbar mdui-color-theme">
    <span class="mdui-typo-title">朝日新聞</span>
    <div class="mdui-toolbar-spacer"></div>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '主题'}"><i class="mdui-icon material-icons">settings_brightness</i></a>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">color_lens</i></a>
    <a href="javascript:refresh()" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '主题'}">
    <i class="mdui-icon material-icons">refresh</i>
    </a>
    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '主题'}">
    <i class="mdui-icon material-icons">more_vert</i>
    </a>
    <ul class="mdui-menu">
  <li class="mdui-menu-item">
    <a href="javascript:;" class="mdui-ripple">
      <i class="mdui-menu-item-icon mdui-icon material-icons">remove_red_eye</i>Preview
    </a>
  </li>
  <li class="mdui-menu-item">
    <a href="javascript:;" class="mdui-ripple">
      <i class="mdui-menu-item-icon mdui-icon material-icons">file_download</i>Download
    </a>
  </li>
  <li class="mdui-divider"></li>
  <li class="mdui-menu-item">
    <a href="javascript:;" class="mdui-ripple">
      <i class="mdui-menu-item-icon mdui-icon material-icons">delete</i>Remove
    </a>
  </li>
  <li class="mdui-menu-item">
    <a href="javascript:;" class="mdui-ripple">
      <i class="mdui-menu-item-icon"></i>Empty
    </a>
  </li>
</ul>
  </div>
  </div>
  
  <div class="mdui-container" id="main_content" style="display:none;">
  <div class="mdui-col-xs-12">
    <div style="height:68px"></div>
  </div>
  <div class="mdui-row-xs-1 mdui-center">
  {% for i in data %}<div class="mdui-col-xs-12">
  <div class="mdui-card mdui-ripple" id="card_{{ loop.index0 }}" name="{{ loop.index0 }}">
    <div class="mdui-card-primary">
      <div class="mdui-card-primary-title mdui-typo-display-1" style="font-size:20px">{{ i['info']['title'] }}</div>
      <div class="mdui-card-primary-subtitle mdui-typo-headline" style="font-size:14px" align="right">
      <i class="mdui-icon material-icons">update</i>&nbsp;&nbsp;{{ i['info']['update'] }}
      </div>
    </div>
  </div>
  </div>
  <div class="mdui-col-xs-12">
    <div style="height:8px"></div>
  </div>{% endfor %}
  <div class="mdui-col-xs-12">
    <div style="height:20px"></div>
  </div>
  </div>
  </div>
</div>
{% block Dydata %}<div id="num" name="{{ num }}"></div>{% endblock %}{% endblock %}